body {
  background-color: black;
  color:white;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

.formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
}

.hide {
  display: none;
  color: #442244;
}

h2 {
  color:rgb(100, 237, 237);
  margin-left: 165px;
}

.game-over {
  color:red;
  margin-left: 165px;
}

.game-win {
  color:yellow;
  margin-left: 175px;
}

.restart-btn {
  color:rgb(241, 248, 248);
  background-color:rgb(20, 23, 220);
  margin-left: 165px;
}